#section4-child{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
}

#section4-innerchild{
  text-align: center;
  margin-top: 40px;
}

#fruits{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  padding: 50px;
}

#fruits-child{
 text-align: center;
  margin-left: 150px;
  width: 50%;
}

#fruits-child-1{
  text-align: center;
}

#fruitsinner{
  margin-top: 50px;
}

#fruitsinner1{
  margin-left: 85px;
}

#fruitsinner2{
  margin-top: 50px;
  border-radius: 1px;
}

#fruitsbutton{
  background-color: white;
  color: black;
  border-radius: 2px;
  font-size: 15px;
  width: 180px;
  border: 2px solid rgb(151, 151, 226);
  color: #0067b8;
  margin-right:5px 
}

#fruits2{
  display: flex;
 justify-content: space-evenly;
  margin-top: 60px;
  padding: 30px;
}

#fruits3inner{
  margin-top: 30px;
}

#fruits2button{
  margin-top: 30px;
}

#buttonfruits2inner{
  background-color: white;
  color: black;
  border-radius: 2px;
  font-size: 15px;
  width: 180px;
  border: 2px solid rgb(151, 151, 226);
  color: #0067b8;
}




