.home{
    margin-top: 50px;
}

.home-container{
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgba(3, 9, 50, 0.04);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.home-image-container{
    width: 40%;
}

.home-image{
    height: 500px;
    width: 400px;
    padding-bottom: 30px;
}

.home-text{
    width: 60%;
    font-family: sans-serif;
    padding: 80px 60px; 
}

.home-text-h1{
    font-size: 2.7rem;
}

.home-text-p{
    margin-top: 20px;
    font-size: 18px;
     letter-spacing: 1px;
}

.home-text-button {
    margin-top: 30px;
    border: none;
    background-color: rgba(26 ,105, 190, 1);
    width: 220px;
    height: 68.28px;
    font-size: 22px;
}