#eco{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
}

#eco-text{
  margin-top:40px;
  text-align: center;
}

#ecoinnertext{
  margin-top: 40px;
}

#ecotextbutton{
  margin-top: 30px;
}

#ecobutton{
  background-color: white;
  color: black;
  border-radius: 2px;
  font-size: 15px;
  width: 180px;
  border: 2px solid rgb(151, 151, 226);
  color: #0067b8;
}

