.nav-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid rgba(3, 9, 50, 0.04);
  padding: 5px 100px 5px 40px;
}

.nav-items{
  font-weight: 500;
  font-size: 16px;
}

.nav-items-container{
    display: flex;
    justify-content: space-evenly;
    font-family: sans-serif;
    font-size: 18px;
    gap:50px
}

.nav-image{
    height: 50px;
    width: 50px;
}
