.aboutus-container{
    margin-left: 90px;
    margin-top: 70px;
}

.aboutus-container-option{
    font-weight: 600;
}

.aboutus-icons{
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 60px;
}

.aboutus-icons-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    text-align: center;
    gap:15px;
}

.aboutus-button{
    width: 125px;
    font-size: 13px;
    color:black;
    border: 1.5px solid rgb(118, 118, 235);
    color: rgb(140, 140, 203);
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}
